@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i';

html, .modal-bg, .item-container {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

.item-container img {
  height: 100%;
}

img {
  image-orientation: from-image;
}

body::-webkit-scrollbar {
  width: 13px;
}

body::-webkit-scrollbar-thumb {
  background: #888;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body::-webkit-scrollbar-track {
  background: #d1d1d1;
}

.modal::-webkit-scrollbar {
	width: 10px;
}

.modal::-webkit-scrollbar-thumb
{
	border-radius: 8px;
  background-color: #888;
  background-clip: padding-box;
}

.modal::-webkit-scrollbar-thumb:hover {
  opacity: 0.5;
}

.modal::-webkit-scrollbar-track {
  background: transparent;
}

body {
  color: rgba(56, 56, 56);
}

body, .modal-add-blog input, .modal-add-blog textarea {
  font-family: 'Open Sans', sans-serif;
}

body, nav ul, a, h2, blockquote {
  margin: 0;
}

main section:nth-child(2n + 1) {
  background-color: rgb(242, 242, 242);
}

.home {
  /* Photo by Clay Banks on Unsplash */
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("images/main_picture_1.jpg");
}

.food {
  /* Photo by Ryan Kwok on Unsplash */
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("images/food_home.jpg");
}

.projects {
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),url("images/projects.jpg");
}

.food-content-container, .modal-bg, .modal .container, .side-by-side, .side-by-side .content,
.overlay, nav {
  display: flex;
}


.food-content-container, .modal-bg, .overlay, nav {
  justify-content: center;
}

header {
  z-index: 1000;
  position: fixed;
  width: 100%;
}

.rotateimg90 {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

nav {
  width: 100%;
  padding: 1.6em 0;
  z-index: 2;
  background: transparent;
  transition: 250ms ease-in;
}

.nav-scrolled {
  background-color: rgb(41, 41, 41);
  padding: 0.8em 0;
}

nav ul, a, ol, .container h2, button, fieldset {
  padding: 0;
}

nav ul, h1, h2, h3, .modal-close {
  font-weight: bold;
}

nav ul {
  text-transform: uppercase;
  font-size: 15px;
}

nav li {
  padding-right: 1em;
  padding-left: 1em;
  width: 20%;
  text-align: center;
  display: inline-block;
}

a, button {
  text-decoration: none;
}

nav a {
  line-height: 1em;
  color: white;
  transition: 0.2s ease-in-out; 
}

.modal a {
  font-weight: 800;
  transition: 0.2s ease-in-out; 
}

.modal a:visited {
  color: rgba(57, 57, 57, 0.4);
}

.modal a:hover {
  opacity: 0.5;
}

nav a:hover {
  color: rgba(57, 57, 57, 0.4);
}

#active {
  color: rgba(255, 255, 255, 0.4);
}

.spacing-50px {
  height: 50px;
}

main, .food-content-container, #add-blog-btn {
  margin: auto;
}

main {
  width: 90%;
} 

.food-content-container, footer p, button {
  text-align: center;
}

.food-content-container {
  padding-top: 4em;
} 

.food-content-container img, .food-content-container, .modal-add-blog input, .modal-add-blog textarea {
  width: 80%;
}

.content-col-right .about-img {
  margin-right: 25%;
  margin-left: 25%;
}

.content-col-right .about-img, .modal-add-blog {
  width: 50%;
}

.content-col p {
  padding-top: 2em;
  line-height: 24px;
  font-size: 0.9em;
}

.content-col-right-items a {
  width: 30%;
}

h2, .food-content-container h1 {
  font-size: 27px;
}

.food-content-container h1 {
  margin-bottom: 0.5;
}

h1, h2, h3, nav ul {
  letter-spacing: 1px;
}

h1, footer p {
  margin-bottom: 50px
}

h1 {
  font-size: 35px;
}

li {
  list-style-type: none;
}

ol {
  margin-top: 5px;
}

ol li {
  margin-bottom: 20px;
}

ol li:nth-child(5), ol {
  margin-bottom: 0;
}

ol li a:link, ol li a:visited {
  color: #72A1E5;
}

ol li a:hover, a img:hover {
  opacity: 0.3;
}

br {
  margin-bottom: 1em;
}

blockquote, .content-col p {
  color: rgb(120, 120, 120);
}

blockquote p {
  font-style: italic;
  padding-left: 0;
  padding-bottom: 10px;
}

blockquote footer {
  padding-left: 10%;
}

footer p {
  margin-top: 50px;
}

.modal-bg, .side-by-side, .overlay {
  align-items: center;
}

.modal-bg, .overlay {
  left: 0;
  top: 0;
}

.modal-bg {
  z-index: 10000;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  transition: all ease 500ms;
}

.modal-bg, .overlay {
  opacity: 0;
}

.bg-active, button:hover .overlay {
  opacity: 1;
}

.bg-active {
  visibility: visible;
}

.modal, .modal-add-blog {
  
  overflow-y: auto; 
}

.modal {
  position: relative;
  border-radius: 5px;
  width: 97%; 
  height: 95vh;
}

.modal-add-blog {
  height: 90vh;
}

.modal, .modal-add-blog, button { 
  background-color: white;
}

.modal-add-blog {
  border-radius: 10px;
}

.modal-add-blog main {
  padding: 6vh 0;
}

.modal-add .blog-content, .modal-add-blog main, .overlay h2 {
  width: 85%;
}

.modal .container { 
  width: 93%;
}

.modal-add-blog button, .modal-add-blog input, .modal-add-blog textarea {
  margin-top: 5vh;
}

.modal-add-blog button {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 5px 20px;
  font-size: 1.3em;
}

.modal-add-blog button:hover {
  transition: opacity 0.2s; 
}

.modal-add-blog input, .modal-add-blog textarea, #add-blog-btn, .item-container img {
  display: block;
}

.modal-add-blog input, .modal-add-blog textarea {
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  resize: none;
  padding: 2vh 0 2vh 2vh;
  border-radius: 4px;
  overflow: auto;
}

.modal-add-blog textarea {
  height: 20vh;
} 

.modal .container {
  padding-top: 10vh;
}

.modal .container {
  flex-direction: column;
}

.container h2 {
  margin: 10vh 0 0 0;
  font-size: 2.2em;
  line-height: 2em;
  text-align: left;
}

.side-by-side {
  padding: 0 2vw 0 2vw;
  justify-content: space-between;
  margin: 5vh 0 10vh 0;
}

.content img {  
  align-self: center;
  margin-bottom: 12vh;
  margin-top: 12vh;
}

.side-by-side .content, .modal .container, .food-content-container {
  flex-wrap: wrap;
}

.side-by-side .content {
  width: 45%;
}

.modal .side-by-side:nth-child(2n) {
  background-color: rgb(247, 247, 247);
}

.normal {
  margin-bottom: 3.5vh;
  list-style-type: disc;
}

.base-ul {
  padding-left: 1.5vw;
  font-weight: 600;
}

.non-nested {
  padding-bottom: 5vh;
}

.nested-ul {
  padding: 1.7vh 0 0 2vw;
  font-weight: 400;
}

.nested {
  margin-bottom: 1.5vh;
}

.main-content h3 {
  font-size: 2em;
}

.content p {
  margin-bottom: 5vh;
  line-height: 1.5em;
}

.content:nth-last-child(1) {
  margin-bottom: 5vh;
}

.modal video {
  width: 100%;
}

.modal, h1 {
  margin-top: 0;
}

.modal h3 {
  margin-top: 7.5vh;
  font-size: 1.5em;
  margin-bottom: 5.5vh;
}

.modal blockquote {
  margin: 0 2.5vw;
}

.modal-close, .item-container, button, #add-blog-btn:hover {
  cursor: pointer;
}

.modal-close {
  position: fixed;
  font-size: 1.3em;
  top: 2vw;
  right: 3vw;
  transition: visibility 0s, opacity 0.3s; 
}

.item-container {
  transition: all 0.2s ease-in-out;
} 

.item-container:hover {
  opacity: 1.5;
}

.one-one:hover {
  transform: scale(1.04);
}

button, .modal-add-blog input, .modal-add-blog textarea, fieldset {
  border: none;
}

button {
  outline:0;
  position: relative;
  color: #ffffff;
  font-size: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 

.overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.65);
  transition: all 0.5s ease-in-out;
  z-index: 10;
}

.overlay h2 {
  font-size: 1.2em;
  line-height: 1.4em;
}

.h-10vh{
  height: 10vh;
} 

#add-blog-btn {
  background: url("images/add-icon.jpg");
  margin-top: 6.5vh;
  margin-bottom: 6.5vh;
  width: 5.5vw;
  height: 5.5vw;
  border-radius: 50%;
  transition: 120ms;
} 

.home, .food, .projects, #add-blog-btn {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home, .food, .projects {
  height: 100vh;
  background-attachment: fixed;
}

#add-blog-btn:hover, .modal-close:hover, .modal-add-blog button:hover {
  opacity: 0.4;
}

.flex-start {
  align-items: flex-start;
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}

.iframe-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.scroll-lock {
  overflow: hidden;
  padding-right: 13px;
}

@media only screen and (max-width: 800px) {   
  .home, .food {
    height: 75vh;
  }
}

@media(min-width:786px) {
  .section-title {
    width: 80%;
    margin: auto;
    padding-bottom: 0px;
  }

  .section-title h1 {
    margin: 0;
  }

  .one-one {
    height: 0;
    overflow: hidden;
    padding-top: 100%;
    background: white;
    position: relative;
    transition: all 0.3s ease-in-out;
  }

  .one-one-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .modal-btn{
    height: 100%;
    width: 100%
  }

  .container, .content-col-right, .content-col-right-items{ 
    display: flex;
  }

  .portfolio-items {
    display: grid;
    grid-gap: 1vw;
    grid-template-columns: repeat(4, 1fr);
  }

  .container, .portfolio-items {
    margin: auto;
  }

  .container, .portfolio-items, .content-col-right .about-img {
    width: 80%;
  }

  .container {
    padding-top: 4em
  }

  .container {
    padding-bottom: 4em;
  }

  .container {
    justify-content: space-between;
    position: relative;
  }

  main, h1, h2, h3, .modal-bg, .main-content, .h-10vh, img {
    width: 100%;
  }

  .content-col {
    width: 50%;
    text-align: left;
  }
  
  .content-col-right {
    width: 40%;
    justify-content: flex-end;
    text-align: right;
  }

  .content-col-right .about-img {
    margin-left: 0;
    margin-right: 0;
  }
}
