@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i';

html {
  height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-track {
  background: #d1d1d1;
}

body {
  display: block;
  margin: 0;
  padding:  0;
  flex-basis: 100%;
  font-family: 'Open Sans', sans-serif;
  color: rgba(56, 56, 56);
}

.home {
  /* Photo by Clay Banks on Unsplash */
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("images/main_picture_1.jpg");
}

.food {
  /* Photo by Ryan Kwok on Unsplash */
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("images/food_home.jpg");
}

.projects {
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),url("images/projects.jpg");
}

.home, .food, .projects {
  height: 100vh;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  padding: 2em 0 0 0;
  display: flex;
  justify-content: center;
  z-index: 9999;
}

nav ul {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
}

nav li {
  padding-right: 1em;
  padding-left: 1em;
  display: inline-block;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

nav a {
  line-height: 1em;
  color: white;
}

nav a:hover {
  color: rgba(57, 57, 57, 0.4);
}

#active {
  color: rgba(255, 255, 255, 0.4);
}

.spacing-50px {
  height: 50px;
  width: 100%;
}

.food-content-container {
  width: 80%;
  margin: auto;
  justify-content: center;
  display: flex;
  padding-top: 4em;
  text-align: center;
  flex-wrap: wrap;
}

.content-col-right .about-img {
  margin-right: 25%;
  margin-left: 25%;
  width: 50%;
}

.content-col p {
  color: rgb(121, 120, 120);
  padding-top: 2em;
  line-height: 24px;
  font-size: .8rem;
}

.content-col-right-items a {
  width: 30%;
}

.content-col-right-items .class-img {
  width: 100%;
  margin: 0;
  padding: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.food-content-container h1 {
  padding-bottom: 0.5em;
  margin: 0;
  font-size: 27px;
}

h1, h2, h3 {
  font-weight: bold;
  letter-spacing: 1px;
}

h1 {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 35px;
}

h2 {
  margin: 0;
  font-size: 27px;
}

li {
  list-style-type: none;
}

ol {
  padding: 0;
  margin-bottom: 0;
  margin-top: 5px;
}

ol li {
  margin-bottom: 20px;
}

ol li:nth-child(5) {
  margin-bottom: 0;
}

ol li a:link, ol li a:visited {
  color: #72A1E5;
}

ol li a:hover, a img:hover {
  opacity: 0.3;
}

br {
  margin-bottom: 1em;
}

blockquote {
  margin: 0;
}

blockquote p {
  font-style: italic;
  margin: 0;
  padding-left: 0;
  padding-bottom: 10px;
  color: rgb(121, 120, 120);
}

blockquote footer {
  padding-left: 10%;
}

footer p {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.width-100 {
  width: 100%;
}

@media only screen and (max-width: 800px) {
  body {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
  }

  .home {
    height: 75vh;
  }

  .food{
    height: 75vh;
  }
}

@media(min-width:786px) {
  .container {
    width: 80%;
    margin: auto;
    justify-content: space-between;
    display: flex;
    padding-top: 4em;
  }

  .content-col {
    width: 50%;
    text-align: left;
  }
  
  .content-col-right {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    text-align: right;
  }

  .content-col-right-items {
    width: 40%;
    display: flex;
    justify-content: space-between;
  }

  .content-col-right .about-img {
    margin-left: 0;
    margin-right: 0;
    width: 80%;
  }
}
