/*
  Jaesuk Lee
  9/29/19
  AB / Hudson Gilmore

  This is my css file for the about page and food blog. The main notable stylings I've done are
  modifying the scrollbar, using a muted blue, dark grey, and white color pallete, and created
  div columns to create a two column layout.
*/

/*
  Remember: This body ruleset is to get you started, but does not count
  towards the CP requirements!
*/

@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i';

html {
  height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-track {
  background: #d1d1d1;
}

body {
  display: block;
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 0;
  margin-bottom: 0;
  width: 60%;
  font-family: 'Open Sans', sans-serif;
  color: rgba(56, 56, 56);
}

.home {
  /* Photo by Clay Banks on Unsplash */
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("images/main_picture_1.jpg");
}

.food {
  /* Photo by Ryan Kwok on Unsplash */
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("images/food_home.jpg");
}

.home, .food {
  height: 100vh;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  text-align: center;
}

nav {
  padding-right: 1.2em;
}

nav ul {
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
  padding: 2em 0 0 0;
}

nav li {
  padding-right: 1em;
  padding-left: 1em;
  display: inline-block;
}

a {
  text-decoration: none;
  margin: 0;
}

nav a {
  color: white;
}

nav a:hover {
  color: rgba(57, 57, 57, 0.4);
}

#active {
  color: rgba(255, 255, 255, 0.4);
}

section:after,
section:before,
.container:after,
.container:before,
.food-content-container:after,
.food-content-container:before {
  content: "";
  clear: both;
  display: table;
}

.spacing-50px {
  height: 50px;
}

.container {
  padding-top: 4em;
}

.food-content-container {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  text-align: center;
}

.content-col {
  float: left;
  width: 50%;
  text-align: right;
}

.content-col-right {
  float: right;
  width: 40%;
  text-align: left;
}

.content-col-right .about-img {
  margin-top: 12px;
  width: 100%;
}

.content-col p {
  color: rgb(121, 120, 120);
  padding-top: 2em;
  line-height: 24px;
}

.content-col-right .class-img {
  width: 30%;
  margin-right: 2%;
  margin-top: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.food-content-container h1 {
  padding-bottom: 0.5em;
  margin: 0;
  font-size: 27px;
}

h1, h2, h3 {
  font-weight: bold;
  letter-spacing: 1px;
}

h1 {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 35px;
}

h2 {
  margin: 0;
  font-size: 27px;
}

li {
  list-style-type: none;
}

ol {
  padding: 0;
  margin-bottom: 0;
  margin-top: 5px;
}

ol li {
  margin-bottom: 20px;
}

ol li:nth-child(5) {
  margin-bottom: 0;
}

ol li a:link, ol li a:visited {
  color: #72A1E5;
}

ol li a:hover, .content-col a img:hover {
  opacity: 0.3;
}

br {
  margin-bottom: 1em;
}

blockquote {
  margin: 0;
}

blockquote p {
  text-align: left;
  font-style: italic;
  margin: 0;
  padding-left: 0;
  padding-bottom: 10px;
  color: rgb(121, 120, 120);
}

blockquote footer {
  padding-left: 10%;
}

footer p {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.width-100 {
  width: 100%;
}

@media only screen and (max-width: 800px) {
  body {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
  }

  .home {
    height: 75vh;
  }

  .food{
    height: 75vh;
  }
}
